.searchAuctionsSidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

.resetButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--text-sm);
  line-height: var(--line-sm);
}

.option {
  display: flex;
  gap: 0.625rem;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.all {
  border: 2px solid var(--accent);
}
.all-text {
  color: var(--accent);
}

.black {
  background-color: var(--black);
}
.pink {
  background-color: var(--pink);
}
.orange {
  background-color: var(--orange);
}
.blue {
  background-color: var(--blue);
}
.red {
  background-color: var(--red);
}

@media screen and (min-width: 768px) {
  .searchAuctionsSidebar {
    width: 40%;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .searchAuctionsSidebar {
    width: 20%;
    position: sticky;
    top: 120px;
    height: min-content;
  }
}
