.searchAuctionsSidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

.resetButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--text-sm);
  line-height: var(--line-sm);
}

@media screen and (min-width: 768px) {
  .searchAuctionsSidebar {
    width: 40%;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .searchAuctionsSidebar {
    width: 20%;
  }
}
