.container {
  width: 100%;
}
.containerPadding {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1180px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    width: 1600px;
  }
}
