.hero {
  text-align: center;
  margin-top: 4rem;
}

.toptitle {
  font-weight: var(--font-bold) !important;
  font-family: var(--font-poppins) !important;
  color: var(--neutral-5);
  text-transform: uppercase;
}

.title {
  color: var(--neutral-8);
  letter-spacing: -0.5px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.exploreButton {
  border-color: var(--neutral-4);
}

@media screen and (min-width: 768px) {
  .hero {
    margin-top: 8rem;
  }
}
