.hero {
  text-align: center;
  margin-top: 4rem;
}

.toptitle {
  font-weight: var(--font-bold) !important;
  font-family: var(--font-poppins) !important;
  color: var(--neutral-5);
  text-transform: uppercase;
  font-size: var(--text-2xs);
  line-height: var(--line-2xs);
  animation: var(--fadeInLong);
}

.title {
  color: var(--neutral-8);
  letter-spacing: -0.5px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  animation: var(--fadeInLong);
}

.exploreButton {
  border-color: var(--neutral-4);
  animation: var(--fadeInLong);
}

@media screen and (min-width: 768px) {
  .hero {
    margin-top: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .toptitle {
    font-size: var(--text-xs) !important;
  }
  .title {
    font-size: var(--text-5xl) !important;
  }
}

@media screen and (min-width: 1920px) {
  .hero {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
