.hero {
  text-align: center;
  margin-top: 4rem;
}

.toptitle {
  font-size: var(--text-2xs);
  line-height: var(--line-2xs);
  font-weight: var(--font-bold);
  font-family: var(--font-poppins);
  color: var(--neutral-5);
  text-transform: uppercase;
}

.title {
  font-size: var(--text-4xl);
  line-height: var(--line-4xl);
  color: var(--neutral-8);
  letter-spacing: -0.5px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
