body {
  background-color: var(--neutral-1);
  color: var(--neutral-8);
  padding-top: 1.5rem;
}

a,
a:visited,
a:hover {
  color: inherit;
}

@media screen and (min-width: 1200px) {
  body {
    padding-top: 0;
  }
}

main {
  min-height: 100vh;
}
