:root {
  /* #region color palette */

  --neutral-1: #141416;
  --neutral-2: #23262f;
  --neutral-3: #353945;
  --neutral-4: #777e90;
  --neutral-5: #b1b5c3;
  --neutral-6: #e6e8ec;
  --neutral-7: #f4f5f6;
  --neutral-8: #fcfcfd;

  --accent: #3772ff;
  --accent-dark: #2c5ed6;

  --green: #45b26b;

  /* #endregion */

  /* #region font */

  --text-3xs: 0.53rem;
  --line-3xs: 0.625rem;

  --text-2xs: 0.625rem;
  --line-2xs: 0.75rem;

  --text-xs: 0.75rem;
  --line-xs: 1rem;

  --text-sm: 0.875rem;
  --line-sm: 1.25rem;

  --text-base: 1rem;
  --line-base: 1.5rem;

  --text-lg: 1.125rem;
  --line-lg: 1.75rem;

  --text-xl: 1.25rem;
  --line-xl: 1.75rem;

  --text-2xl: 1.5rem;
  --line-2xl: 2rem;

  --text-3xl: 1.875rem;
  --line-3xl: 2.25rem;

  --text-4xl: 2rem;
  --line-4xl: 2.5rem;

  --text-5xl: 2.5rem;
  --line-5xl: 1;

  --text-6xl: 4rem;
  --line-6xl: 1;

  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* #endregion */
}
