.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.Red {
  background-color: red;
}

.auctionCards{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem 0;
}