.container {
  margin-bottom: 4rem;
  position: relative;
}

.searchContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .searchContainer {
    flex-direction: row;
    gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-bottom: 8rem;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    margin-bottom: 10rem;
  }
}
