.popularAuctions {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image {
  aspect-ratio: 2 / 3;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.auctionData {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.authorAndPrice {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.priceIcon {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  background-color: var(--green);
}

.title {
  letter-spacing: -1px;
}

.topTitle {
  color: var(--neutral-4);
  font-family: var(--font-poppins);
  font-weight: var(--font-regular);
  font-size: var(--text-xs);
  line-height: var(--line-xs);
}

.bottomTitle {
  font-family: var(--font-poppins) !important;
  font-weight: var(--font-medium) !important;
}

.auctionButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 2px solid var(--neutral-3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.disabled {
  border: none;
  pointer-events: none;
}

.boxData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .popularAuctions {
    margin-top: 8rem;
    flex-direction: row;
    align-items: flex-start;
  }
  .image {
    width: 55%;
  }

  .auctionData {
    width: 45%;
  }
  .navigation {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .popularAuctions {
    gap: 8rem;
    margin-bottom: 8rem;
  }
  .image {
    width: 65%;
    max-height: 800px;
  }

  .auctionData {
    width: 35%;
  }
}

@media screen and (min-width: 1920px) {
  .popularAuctions {
    gap: 12rem;
  }
  .image {
    width: 60%;
  }
  .auctionData {
    width: 40%;
  }
  .auctionStatus {
    padding: 3rem 0;
  }
}
