.menuButton {
  display: block;
  padding: 0.2rem;
  position: relative;
  z-index: 100;
}

.bar {
  width: 60%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--neutral-4);
  transition: all 0.25s cubic-bezier(0.15, 1, 0.7, 1);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.top {
  bottom: 10px;
}

.bottom {
  top: 10px;
}

.crossTop {
  transform: rotate(-45deg);
  bottom: 15px;
  background-color: var(--neutral-1);
}

.crossBottom {
  transform: rotate(45deg);
  top: 15px;
  background-color: var(--neutral-1);
}

@media (min-width: 1200px) {
  .menuButton {
    display: none !important;
  }
}
